@import "reset";
@import "variables_mixins";

.vblock {
  width: fit-content;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.hblock {
  width: 100%;
  height: fit-content;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.text-block {
  width: 33%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    text-align: center;
  }
}

.card {
  width: 25vw;
  height: 40vh;
  min-width: 200px;
  min-height: 200px;
  background-color: $main-color;
  padding: 1%;

  border: 1px solid black;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .imgbox {
    background-color: red;
    width: 100%;
    height: 40%;
    overflow: hidden;

    image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
  }
}

header {
  background-color: $secondary-color;
  width: 100%;

  display: flex;
  flex-direction: column;

  h1 {
    font-size: 2em;
  }
  a {
    color: white;
  }

  & > div {
    @extend .hblock;
    justify-content: space-between;
    padding: 0% 1%;
  }

  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    list-style: none;
    text-decoration: none;

    div {
      flex: 1;
      background-color: black;
      * {
        color: white;
      }

      display: flex;
      justify-content: center;
      text-align: center;

      &:hover,
      &:active {
        background-color: white;
        color: black;
      }
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  section {
    // section separation, to be deleted later
    border: 2px solid black;
    width: 100%;
    min-height: 50%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 1vw;
  }
}

@media screen and (min-width: 600px) {
  header {
    div {
      font-size: 1.5em;
    }

    nav {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      padding: 0px 20px;

      div {
        max-width: 100px;
      }
    }
  }
}
@media screen and (min-width: 1000px) {
  //
}
