@function darkening($color, $times) {
  @return darken($color, $times * 10);
}

@import "../commons/css/style.scss";

.testing {
  border: 1px solid black;
}

main {
  background-color: rosybrown;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  p {
    font-size: 1.5em;
  }
}

@for $i from 1 to 4 {
  section:nth-child(#{$i}) {
    background-color: darkening(bisque, $i);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
