@import "../commons/css/style.scss";

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  div {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    div {
      background-color: black;
      color: white;
      padding: 0.5em;
    }
  }

  form {
    width: 25%;
    padding: 1em;
    display: grid;
    grid-template-columns: max-content 2fr 1fr;
    grid-gap: 1em;

    label {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    input {
      grid-column: span 2;
      background-color: lightgray;
      padding-left: 0.5em;
      height: 2em;
      border-radius: 10px;
      border: none;

      &:focus {
        outline: none;
        box-shadow: 0 0 0px 1px grey;
      }
    }

    button {
      grid-column: 2;
      background-color: aquamarine;
      padding: 1em;
      border: none;
      cursor: pointer;

      &:hover {
        background-color: darken(aquamarine, 20);
      }
    }
  }
}

.hidden {
  display: none;
}

.selected {
  background-color: aquamarine;
  color: black;
  padding: 1em;
}

@mixin message($color, $lightValue) {
  background-color: lighten($color, $lightValue);
  padding: 0.5em 1em;
  border: 2px dashed $color;
  border-radius: 10px;
}

.info {
  @include message(rgb(31, 151, 61), 50);
}

.warn {
  @include message(orange, 30);
}
