@import "../reset.css";

body {
  background-color: violet;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: column;

  div {
    background-color: aquamarine;
    display: flex;
  }

  a div {
    padding: 1em;

    &:hover {
      background-color: darken(aquamarine, 20);
    }
  }
}

main {
  display: flex;
  flex-grow: 1;
}

.notes {
  background-color: beige;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
}

section {
  background-color: cornflowerblue;
  flex-grow: 1;
}

.button-div {
  background-color: orange;
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  height: max-content;
}
.button {
  background-color: white;
  padding: 1em;

  &:hover,
  &:focus {
    background-color: black;
    color: white;
  }
  &:active {
    background-color: deeppink;
  }
}

.note {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
}

textarea {
  display: flex;
  border: none;
  resize: none;
  padding: 10px;
  font-size: 1em;
  background-color: goldenrod;

  width: 100%;
  height: 100%;

  .titleArea {
    height: 2em;
  }
  .textArea {
    line-height: 4;
  }
}
