@import "../reset.css";

body {
  background-color: violet;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: column;

  div {
    background-color: aquamarine;
    display: flex;
  }

  a div {
    padding: 1em;

    &:hover {
      background-color: darken(aquamarine, 20);
    }
  }
}
