@import "../../reset.css";

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: aquamarine;
  display: flex;
  flex-direction: column;

  div {
    display: flex;

    h1 {
      font-size: 4em;
      font-weight: 700;
    }
  }

  nav {
    display: flex;
    justify-content: flex-end;
  }

  a div {
    padding: 0.8em 2em;
    font-size: 1.2em;
    font-weight: 600;
    letter-spacing: 1px;

    &:hover {
      background-color: darken(aquamarine, 20);
    }
  }
}
